@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-paper: #F2F0E9;
    --color-ink: #332F2C;
    --color-ancient: #5D4037;
    --color-gold: #C0A062;
  }

  .dark {
    --color-paper: #232226;
    --color-ink: #E5E5E5;
    --color-ancient: #B39DDB;
    --color-gold: #C0A062;
  }
}
