@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-paper: #F8F5F2;
    --color-ink: #2A2A2A;
    --color-ancient: #5D4037;
    --color-gold: #C5A059;
  }

  .dark {
    --color-paper: #232226;
    --color-ink: #E5E5E5;
    --color-ancient: #B39DDB;
    --color-gold: #C5A059;
  }
}
