@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-paper: #1a1918;
    --color-ink: #e3dccb;
    --color-ancient: #B39DDB;
    --color-gold: #C0A062;
    --color-card: #252422;
  }

  .dark {
    --color-paper: #1a1918;
    --color-ink: #e3dccb;
    --color-ancient: #B39DDB;
    --color-gold: #C0A062;
    --color-card: #252422;
  }
}
